<h1>Editing Order</h1>

<%= form_with(model: @order, local: true, html: { multipart: true }) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form.hidden_field :user_id, id: current_user.id %>
<div class="col-md-8 text-left">
    <table class="table table-hover">
      <tbody>
        <tr class="table-active">
          <td><%= form.label :type %></td>
          <td><%= form.text_field :orderType, id: @order.orderType %></td>
        </tr>
        <tr class="table-active">
          <td><%= form.label :orderFrom %></td>
          <td><%= form.text_field :orderFrom, id: @order.orderFrom %></td>
        </tr>
        <tr class="table-active">
          <td><%= form.label :image %></td>
          <td><%= form.file_field :image %></td>
        </tr>
        <tr class="table-active">
          <td><%= form.label :InviteFriends %></td>
          <td><%= collection_check_boxes(:order, :user_ids, @friends, :friend_id, :name_with_initial) %></td>
          <td><%= collection_check_boxes(:group, :group_ids, @groups, :id, :name) %></td>
        </tr>
        <tr>
          <td> <%= form.submit %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
</div>



<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
