<p id="notice"><%= notice %></p>
<div  class="container"> 
      <div class="col-md-6" style="padding-top: 20px;padding-bottom: 20px;">
        <div class="agileinfo-heading">
          <h4>Invited Orders List</h4>    
        </div>
      </div>
      <div class="col-md-6" style="padding-top: 20px;padding-bottom: 20px;">
        <%= link_to 'New Order',  new_order_path , class: "btn btn-danger btn-lg" %>
      </div>
      <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Creator</th>
                <th scope="col">Order Menu</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            
            </tr>
          </thead>

            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.orderType %></td>
                  <td><%= order.orderFrom %></td>
                  <td><%= order.user.name %></td>
                  <td><a href="<%= order.image %>" target="_blank"><%= order.orderFrom %> Menu</a> </td>
                  <td><%= order.status %></td>
                  <td>
                      <%= link_to 'Show', order %>
                  </td>
                </tr>
            <% end %>
  </tbody>
  
      </table> 
      <div class="col-md-6" style="padding-top: 20px;padding-bottom: 20px;">
        <div class="agileinfo-heading">
          <h4>My Orders List</h4>
        </div>
      </div>         
      <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Order Menu</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>

            </tr>
          </thead>

            <tbody>
              <% @myOrders.each do |order| %>
                <tr>
                  <td><%= order.orderType %></td>
                  <td><%= order.orderFrom %></td>
                  <td><a href="<%= order.image %>" target="_blank"><%= order.orderFrom %> Menu</a> </td>
                  <td id="status"><%= order.status %></td>
                  <td>
                      <%= link_to 'Show', order %> 
                      <%= link_to 'Edit', edit_order_path(order), :id => order.id %> 
                      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %> 
                      <a id="<%= order.id %>" class="ss" onclick="finish(this)" >Finish</a>

                  </td>
                </tr>
            <% end %>
          </tbody>
         
      </table>          
      <div class="clearfix"> </div>
      <%= will_paginate @orders, renderer: BootstrapPagination::Rails ,inner_window: 1, outer_window: 0%>
      
     
      <%= will_paginate @myOrders, renderer: BootstrapPagination::Rails ,inner_window: 1, outer_window: 0%>     </div>  
      <script type="text/javascript">
        function finish(e){
          console.log("sdfvdsfvsd")
          $.ajax({
            method:"POST",
            url:"/orders/finish",
            data:{orderID: $(e).attr('id'), authenticity_token:$('meta[name="csrf-token"]').attr("content")},
            success:function(res){
              var id = $('.ss').attr('id')
              console.log(id)
                $('#status').empty()
                $('#status').append("Finished")
                $('#'+id).remove()
                $('#'+id).remove()
                
              }
          });
        }
      </script>


    

     