
<!DOCTYPE html>
<head>
<title>Yalla Notlop login form</title>
<!-- metatags-->
<%= stylesheet_link_tag "login.css" %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--online fonts-->
<link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">
<!--//online fonts-->
</head>
<body>
  <p id="notice"><%= notice %></p>
  <h1>Ya<span>ll</span>a N<span>o</span>tlop l<span>o</span>g<span>in</span> f<span>o</span>rm</h1>
  <div class="wthree-form">
      <h2>Fill out the form below to login</h2>
    <div class="w3l-login form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-sub-w3">
          <%= f.text_field :email, placeholder: "Email", autofocus: true %>    
        </div>

        <div class="form-sub-w3">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>   
        </div>
        <label class="anim">
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: 'checkbox' %>
            <span><%= f.label :remember_me %></span>
        <% end -%>
        </label>
        <p><%= link_to "forgotten password?", new_password_reset_path %></p>
        <div class="submit-agileits">
          <%= f.submit "Login" %>   
        </div>
       <%= render "devise/shared/links" %>
       <% end %>

    </div>
  </div>
</body>
</html>